.btn {
    font-size: 30px;
    cursor: pointer;
}
.faq-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 20em;
}

.answers {
    max-width: 350px;
    text-align: center;
    font-size: 16px;
}

.answers::before {
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    background: rgba($color: #000000, $alpha: .5);
}