

.headerThree-nav {
    // display: none;
}

.product-btn {
    border-radius: 12px;
    background: dodgerblue;
    width: 250px;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: none;
    position: absolute;
    top: 18%;
    margin-left: auto;
    right: 2%;
}