.heading {
    position: fixed;
    width: 100%;
    top: 15%;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    // if there's still time, I'll implement the below
    // background-color: rgb(34, 55, 77);
    // border-radius: 16px;
    // box-shadow: 0 5px 10px 10px rgba(0,0,0,.2);
    // width: auto;
}
.ask {
    padding: 10px;
}
.faq {
    // this faq is faqs
    background: rgba($color: #000000, $alpha: .5);
    padding: 5px;
    width: 100%;
    margin-bottom: .3em;
}

@media screen and (max-width: 768) {
    .heading {
        font-size: 18px;
    }

    .faq {
        font-size: 14px;
        font-weight: bold;
    } 
}