.header {
    height: 70px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
      height: 50px;
      width: 70px;
      padding: 15px;
      // #4285F4
    }

    .logo{
      width: 65px;
      height: 65px;
      padding-bottom: 12px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
       .option {
        font-family: 'EB Garamond', serif;
        padding: 10px 15px;
        cursor: pointer;
        color: #4285f4;
      }
    }
  }
  
