.sign-up {
        min-height: 130vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
.h2 {
    text-align: center;
}
