@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.farmer-card {
    font-family: montserrat, sans-serif;
    color: #0c5f79;
    margin: 8rem auto;
    max-width: auto;
    cursor: pointer;
    height: auto;
}

.img {
    width: 290px;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    padding: .55rem;
    width: 100%;
}

.cart-button {
    position:absolute;
    background-color: black;
    color: white;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    top:55%;
    left: 30%;
    opacity: 0.55;
    cursor: pointer;
}

.custom-button{
  width: 80%;
  opacity: 0.7;
  position: absolute;
  top: 255px;
  display: none;

  &:hover{
    .img{
        opacity: 0.8;
    }

    .custom-button{
        opacity: 0.85;
        display: flex;
    }
  }
}


.flex-wrapper {
    display: flex;
}
.location {
    font-size: 16px;
    color: gray;
    
}
.price {
    background: rgba(255, 255, 255, .15);
    padding: 10px;
}
.name {
    margin-bottom: .65rem;
}

.farm-products {
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    margin: 4px;
    border: .2px solid #0c5f79;
    
}

.position-footer {
    position: absolute;
    bottom: auto;
    width: 100%;
} 
#plain {
    display: none;
}

//for mobiles and tablets
@media screen and (max-width: 960px) {
    .farm-products {
        width: 47%;
    }
    .position-footer {
        bottom: auto;
    }
}
@media screen and (max-width: 480px) {
    .farm-products {
        width: 47%;
    }
    .img {
        height: 200px;
        width: 200px;
    }
    .cart-button {
        top: 40%;
        left: 20%;
    }
}

