@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.farmer-card {
    font-family: montserrat, sans-serif;
    color: #0c5f79;
    margin: 8rem auto;
    position: absolute;
    width: 100%;
    max-width: auto;
   
}

.img {
    width: 290px;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    padding: .55rem;
    width: 100%;
}
.flex-wrapper {
    display: flex;
}
.location {
    font-size: 16px;
    color: gray;
    
}
.price {
    background: rgba(255, 255, 255, .15);
    padding: 10px;
}
.name {
    margin-bottom: .65rem;
}

.farm-products {
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    margin: 4px;
    border: .2px solid #0c5f79;
    
}

.position-footer {
    position: absolute;
    width: 100%;
    margin-top: 110rem;
}

//for mobiles and tablets
@media screen and (max-width: 960px) {
    .farm-products {
        width: 47%;
    }
    .position-footer {
        margin-top: 207rem;
    }
}

